# General
.idea/
Homestead.json
Homestead.yaml
.phpunit.result.cache
docker/

# Backend
Backend/vendor
Backend/.env
Backend/composer.lock

# Front-end
Frontend/node_modules/
Frontend/package-lock.json
